---
import { Icon } from "astro-icon";
import Button from "./Button.astro";

const {
  title = "Title",
  description = "Description",
  icon,
  iconLink,
  image,
  imageAlt,
} = Astro.props;
---

<div
  class="flex flex-col items-start justify-between overflow-hidden rounded-xl bg-gray-800 outline outline-4 outline-gray-800 hover:shadow-2xl"
>
  <div class="flex h-56 w-full justify-center overflow-hidden bg-gray-900">
    {image && <img src={image} alt={imageAlt} class="object-cover" />}
  </div>
  <div class="flex w-full flex-col p-4">
    <h1 class="text-2xl font-bold">{title}</h1>
    <p class="my-2 pr-6">{description}</p>
    <div class="relative flex items-center justify-center gap-4 self-end">
      {
        icon && (
          <a
            href={iconLink}
            target="_blank"
            class="absolute bottom-[-0.75rem] right-[-0.75rem] rounded-full bg-gradient-to-tl from-red-500 to-orange-400 p-1 transition-transform hover:scale-125"
          >
            <Icon name={icon} class="w-8" />
          </a>
        )
      }
    </div>
  </div>
</div>
